<%- include('header') %>
<%- include('modals/add-saler') %>
<%- include('modals/goodRegister') %>
<%- include('modals/badRegister') %>

<div class="container-fluid" id="dashboard-container">
    <div class="row justify-content-center align-items-center mt-5">
        <% include ./partials/messages %>
    </div>
    <div class="row justify-content-center align-items-center mt-5">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addNewSaler">
            Добавить нового продавца
        </button>
    </div>
    <div class="row border-bottom mt-5">
        <div class="col-md-3">
            <p>Имя</p>
        </div>
        <div class="col-md-3">
            <p>Фамилия</p>
        </div>
        <div class="col-md-3">
            <p>Логин</p>
        </div>
        <div class="col-md-3">
            <p>Действие</p>
        </div>
    </div>
    <% salers.forEach(function(saler) { %>
    <div class="row mt-5 border-bottom">
        <p class="col-md-3 mt-1"><%= saler.name.firstName %></p>
        <p class="col-md-3 mt-1"><%= saler.name.lastName %></p>
        <p class="col-md-3 mt-1"><%= saler.login %></p>
        <div class="col-md-3 mb-3">
            <button data-id="<%= saler._id %>" class="btn btn-dark delete-saler">Удалить</button>
        </div>
    </div>
    <% }) %>
</div>

<script src="./script/salers.js"></script>